{% extends 'base.html' %}

{% block content %}

<head>
<h1> Details: </h1>
    <title> findmeMovies </title>
</head>
<body>
<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <!--<form method='GET'>-->
            <form action='.' method='POST'> {% csrf_token %}
                <input type='text' name='movie title' placeholder='Movie Title'>
                <input type='submit' value='Save' />
            </form>
        </div>
    </div>
</div>
</body>
{% endblock %}